body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Inter", "Poppins", "Lato", "Prompt", "Montserrat", "Arimo",
    sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--font-size);
  line-height: var(--line-height);

  color: var(--text-color);
  background-color: var(--bg-color);
}
.container {
  overflow-x: hidden;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 307px;
}
.footer-container {
  overflow-x: hidden;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 319px;
}
.section {
  padding: 60px 0;
}
.hero-section {
  padding: 72px 0;
}
.about-section {
  padding: 0 0 78px;
}
@media only screen and (min-width: 1440px) {
  .section {
    padding: 90px 0;
  }
  .container {
    max-width: 1210px;
  }
  .footer-container {
    max-width: 1324px;
  }
  .hero-section {
    padding: 230px 0 50px;
  }
  .about-section {
    padding: 56px 0 101px;
  }
}

.slick-track {
  display: flex !important;
  align-items: stretch;
  gap: 48px;
  @media only screen and (min-width: 1440px) {
    gap: 20px;
  }
}

.slick-slide {
  flex: 0 0 auto;
}

.slick-list {
  overflow: visible !important;
}

main {
  flex-grow: 1;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
